h1{
font-size: 3em;
text-align: center;
font-family: 'PT Sans', sans-serif;
color: rgb(216, 137, 224);
}
*{
font-family: 'PT Sans', sans-serif;
}
p{ 
text-align: center;
}
.img1{
margin: 10px auto;
display: inline-block;
width: 90%;
}
.foto1{
    background-image: url("../img/vol1.jpg");
	object-fit: cover;
	position: relative;
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: row-reverse;
	background-size: cover;
	background-position: center;
}
.text1{
	font-size: 2em;
	padding: 3%;
}
.foto2{
	display: flex;
	justify-content: right;
}
span {
padding: 2px;
width: 10%;
text-align: center;
background: rgb(216, 137, 224);
color: white;
font-size: 1.5em;
}
.nav {
width: 100%;
display: flex;
justify-content: space-evenly;
}
.container {
padding: 10px;
margin: 40px 0;
}
.container1{
padding: 10px;
margin: 40px 0;
display: flex;
flex-direction: row;
justify-content: center;
width: 93%;
height: 30%;
}
.container2{
padding: 10px;
margin: 40px 0;
display: flex;
flex-direction: row;
justify-content: center;
width: 93%;
height: 30%;
}
.item {
display: flex;
flex-direction: column;
justify-content: center;
background: rgb(216, 137, 224);
margin: 0 5%;
color: white;
font-size: 2em;
text-align: justify;
padding: 7%;
}

.button {
width: 15%;
height: 50px;
font-size: 1.5em;
position: absolute;
background: white;
color: rgb(216, 137, 224);
text-align: center;
box-sizing: content-box;

}
.button1 {
padding: 20px;
width: 15%;
height: 40px;
font-size: 1em;
position: absolute;
background: rgb(216, 137, 224);
color: white;
box-sizing: content-box;
text-align: center;
margin: 3% 5% 0 2%;
}
.but{
	padding: 30px;
}
.div1{
background: rgb(137, 198, 224);
color: white;
font-size: 2em;
padding: 30px;
width: 86%;
text-align: justify;
margin: 0 5%;
}
.div2{
background: rgb(137, 198, 224);
margin: 0 5%;
color: white;
font-size: 1.8em;
text-align: justify;
padding: 20px;
}
